<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{{siteTitle}}}</title>
		<meta name="description" content="{{{siteDescription}}}" />
		<meta name="author" content="{{{data.metaData.siteAuthor}}}">

		{{#if showOpenGraph}}
			{{> open-graph/open-graph }}
		{{/if}}

		<link rel="canonical" href="{{canonicalUrl}}" />
		<link rel="icon" href="/_client/images/favicons/favicon.ico" type="image/x-icon">

		<!--[if IE 8]>
	  		<link rel="stylesheet" href="/_client/styles/ie8.css?v={{uuid}}" />
	  	<![endif]-->

		<!--[if IE 9]>
	  		<link rel="stylesheet" href="/_client/styles/main.css?v={{uuid}}" type="text/css" />
	  	<![endif]-->

		<!--[if  !IE]><!-->
			<link rel="stylesheet" href="/_client/styles/main.css?v={{uuid}}" type="text/css" />
		<!--<![endif]-->
		{{#if JS}}{{/if}}
	</head>
	<body class="paper--type-1">
		{{> tag-manager/tag-manager }}
		<div class="page-wrapper">
		{{> site-header/site-header }}
